*.pyc
*.save
*.tmp
.travis.yml
.idea
.wizarded*
index.html*
RH-ota
wget-log*
nohup*
/log_data
/.dev/*_log.txt
/venv
/updater-config.json
test.py
.new_rhim_version_check_file.txt
.new_rhim_version_diff_file
.first_time_here